<h1>Are you sure you want to delete your account?</h1>

<a class="btn" asp-area="" asp-controller="Account" asp-action="Delete">Yes</a>
<a class="btn" asp-area="" asp-controller="Account" asp-action="Index">No</a>


